<Data>
	<Device>
		<Apple>
			<model pos="1">All_Apple_Devices</model>
			<model pos="2">iPad_Air</model>
			<model pos="3">iPad_Air_2</model>
			<model pos="4">iPad_Mini</model>
			<model pos="5">iPhone_4</model>
			<model pos="6">iPhone_4S</model>
			<model pos="6">iPhone_6_Plus</model>
			<model pos="6">iPod_Touch</model>
			<model pos="6">iPod_Touch_5</model>
			<model pos="6">New_iPad</model>
			<model pos="6">iPhone_5</model>
			<model pos="6">iPhone_5C</model>
			<model pos="6">iPhone_5S</model>
			<model pos="6">iPhone_6</model>
			<model pos="6">iPhone_6S</model>
			<model pos="6">iPhone_6S_Plus</model>
			<model pos="6">iPhone_SE</model>
			<model pos="6">iPhone_7</model>
			<model pos="6">iPhone_7_Plus</model>
		</Apple>
		<Blackberry>
			<model pos="1">8520</model>
			<model pos="2">9100</model>
			<model pos="3">9220</model>
			<model pos="4">9300</model>
			<model pos="5">9350</model>
			<model pos="6">9360</model>
			<model pos="6">9700</model>
			<model pos="6">9800</model>
			<model pos="6">9850</model>
			<model pos="6">9900</model>
			<model pos="6">Playbook</model>
			<model pos="6">9860</model>
			<model pos="6">Q10</model>
			<model pos="6">Q5</model>
			<model pos="6">Z10</model>
		</Blackberry>
		<HTC>
			<model pos="1">All_HTC_Devices</model>
			<model pos="2">Rezound</model>
			<model pos="3">One_Mini</model>
			<model pos="4">M8</model>
		</HTC>
		<Huawei>
			<model pos="1">All_Huawei_Devices</model>
			<model pos="2">G620</model>
			<model pos="3">G630</model>
			<model pos="4">Y520</model>
			<model pos="5">Y530</model>
			<model pos="6">Y625</model>
			<model pos="6">P7</model>
			<model pos="6">Mate_7</model>
			<model pos="6">P8</model>
			<model pos="6">P8_Lite</model>
			<model pos="6">P9</model>
			<model pos="6">P9_Lite</model>
			<model pos="6">V8</model>
		</Huawei>
		<LG>
			<model pos="1">All_LG_Devices</model>
			<model pos="2">G2</model>
			<model pos="3">G3</model>
			<model pos="4">G4</model>
			<model pos="5">G5</model>
		</LG>
		<Motorola>
			<model pos="1">All_Motorola_Devices</model>
			<model pos="2">Xoom</model>
			<model pos="3">Droid_3</model>
			<model pos="4">Droid_Razr</model>
			<model pos="5">Droid_X2</model>
			<model pos="6">Moto_X</model>
			<model pos="6">Moto_E2</model>
		</Motorola>
		<Nokia>
			<model pos="1">All_Nokia_Devices</model>
			<model pos="2">2220</model>
			<model pos="3">5800</model>
			<model pos="4">Asha_202</model>
			<model pos="5">C1-01</model>
			<model pos="6">C5-03</model>
			<model pos="6">C5-06</model>
			<model pos="6">C6</model>
			<model pos="6">C7</model>
			<model pos="6">N9</model>
			<model pos="6">N97</model>
			<model pos="6">Asha_303</model>
			<model pos="6">Lumia_620</model>
			<model pos="6">Lumia_900</model>
			<model pos="6">Lumia_920</model>
		</Nokia>
		<Samsung>
			<model pos="1">All_Samsung_Devices</model>
			<model pos="2">C3222</model>
			<model pos="3">Galaxy_A3</model>
			<model pos="4">Galaxy_A5</model>
			<model pos="5">Galaxy_A7</model>
			<model pos="6">Galaxy_A9</model>
			<model pos="6">Galaxy_Ace</model>
			<model pos="6">Galaxy_Ace_2</model>
			<model pos="6">Galaxy_Ace_3</model>
			<model pos="6">Galaxy_Ace_4</model>
			<model pos="6">Galaxy_Ace_Duos</model>
			<model pos="6">Galaxy_Ace_Plus</model>
			<model pos="6">Galaxy_Alpha</model>
			<model pos="6">Galaxy_Chat</model>
			<model pos="6">Galaxy_Core</model>
			<model pos="6">Galaxy_Core_Duos</model>
			<model pos="6">Galaxy_Core_2</model>
			<model pos="6">Galaxy_Core_Prime</model>
			<model pos="6">Galaxy_E5</model>
			<model pos="6">Galaxy_E7</model>
			<model pos="6">Galaxy_Fit</model>
			<model pos="6">Galaxy_Focus</model>
			<model pos="6">Galaxy_Grand_2</model>
			<model pos="6">Galaxy_Grand_Duos</model>
			<model pos="6">Galaxy_Grand_Prime</model>
			<model pos="6">Galaxy_i5800</model>
			<model pos="6">Galaxy_J1</model>
			<model pos="6">Galaxy_J3</model>
			<model pos="6">Galaxy_Mega_6.3-Inch</model>
			<model pos="6">Galaxy_Mini</model>
			<model pos="6">Galaxy_Note</model>
			<model pos="6">Galaxy_Note_10-Inch</model>
			<model pos="6">Galaxy_Note_10-Inch_Edition_2014</model>
			<model pos="6">Galaxy_Note_2</model>
			<model pos="6">Galaxy_Note_3</model>
			<model pos="6">Galaxy_Note_4</model>
			<model pos="6">Galaxy_Note_3_Neo</model>
			<model pos="6">Galaxy_Note_8-Inch</model>
			<model pos="6">Galaxy_Note_Edge</model>
			<model pos="6">Galaxy_S_Advance</model>
			<model pos="6">Galaxy_S2</model>
			<model pos="6">Galaxy_S3</model>
			<model pos="6">Galaxy_S3_Mini</model>
			<model pos="6">Galaxy_S3370</model>
			<model pos="6">Galaxy_S4_Mini</model>
			<model pos="6">Galaxy_S5</model>
			<model pos="6">Galaxy_S5_Mini</model>
			<model pos="6">Galaxy_S6</model>
			<model pos="6">Galaxy_S6_Edge</model>
			<model pos="6">Galaxy_S7_Edge</model>
			<model pos="6">Galaxy_Tab_2</model>
			<model pos="6">Galaxy_Tab_2_7-Inch</model>
			<model pos="6">Galaxy_Tab_2_10-Inch</model>
			<model pos="6">Galaxy_Tab_3_10-Inch</model>
			<model pos="6">Galaxy_Tab_3_8-Inch</model>
			<model pos="6">Galaxy_Tab_4_8-Inch</model>
			<model pos="6">Galaxy_Tab_Pro_10-Inch</model>
			<model pos="6">Galaxy_Trend</model>
			<model pos="6">Galaxy_Xcover</model>
			<model pos="6">Galaxy_Y</model>
			<model pos="6">Galaxy_Young_2</model>
			<model pos="6">Galaxy_Tab_4_10-Inch</model>
			<model pos="6">Galaxy_S4</model>
			<model pos="6">Galaxy_Note_5</model>
			<model pos="6">Galaxy_J5</model>
			<model pos="6">Galaxy_J7</model>
			<model pos="6">Galaxy_S6_Edge_Plus</model>
			<model pos="6">Galaxy_S7</model>
			<model pos="6">Galaxy_Note_7</model>
		</Samsung>
		<Sony>
			<model pos="1">All_Sony_Devices</model>
			<model pos="2">Xperia_E</model>
			<model pos="3">Xperia_Neo_V</model>
			<model pos="4">Xperia_P</model>
			<model pos="5">Xperia_P1</model>
			<model pos="6">Xperia_S</model>
			<model pos="6">Xperia_U</model>
			<model pos="6">Xperia_X1</model>
			<model pos="6">Xperia_X10_Mini</model>
			<model pos="6">Xperia_X10_mini_Pro</model>
			<model pos="6">Xperia_X8</model>
			<model pos="6">Xperia_T</model>
			<model pos="6">Xperia_ZL</model>
			<model pos="6">Xperia_Z5</model>
		</Sony>
		<Universal>
			<model pos="1">All_Devices</model>
			<model pos="2">All_Tablets</model>
			<model pos="3">Micro USB</model>
		</Universal>
	</Device>
	<Category>
		<Batteries>
			<type>Batteries</type>
		</Batteries>
		<Bluetooth>
			<type>Mono</type>
			<type>Speaker</type>
			<type>Stereo</type>
		</Bluetooth>
		<Cables>
			<type>Adapter_Kit</type>
			<type>Audio_and_Video</type>
			<type>Data_Cable</type>
		</Cables>
		<Cases_and_Covers>
			<type>Arm_Band</type>
			<type>Bags</type>
			<type>Flip</type>
			<type>Pocket</type>
			<type>Snap-On</type>
			<type>Waterproof</type>
		</Cases_and_Covers>
		<Chargers>
			<type>Car_Charger</type>
			<type>Charger_Kit</type>
			<type>Desktop</type>
			<type>Power_Bank</type>
			<type>Power_Case</type>
			<type>Wall_Charger</type>
			<type>Wireless_Charger</type>
		</Chargers>
		<Gadgets>
			<type>Game_Pad</type>
			<type>Gear_View</type>
			<type>Heart_Monitor</type>
			<type>Keyboard</type>
			<type>Smart_Watch</type>
			<type>Speaker</type>
			<type>TecTile</type>
		</Gadgets>
		<Hands_Free>
			<type>Hands_Free</type>
		</Hands_Free>
		<Holders>
			<type>Vehicle_Holder</type>
		</Holders>
		<Memory_Storage>
			<type>Micro_SD</type>
			<type>Pen_Drive</type>
		</Memory_Storage>
		<Parts>
			<type>LCD</type>
		</Parts>
		<Screen_Protectors>
			<type>Screen_Protector</type>
			<type>Anti-Fingerprints</type>
			<type>Privacy</type>
			<type>Tempered_Glass</type>
		</Screen_Protectors>
		<Stylus>
			<type>Stylus</type>
		</Stylus>
		<Liquidation>
			<type>Liquidation</type>
		</Liquidation>
	</Category>
	<Brand>
		<name>Apple</name>
		<name>Agent_18</name>
		<name>Beats</name>
		<name>Black_Rock</name>
		<name>Blackberry</name>
		<name>BLU</name>
		<name>Body_Glove</name>
		<name>Case-Mate</name>
		<name>Cookoo</name>
		<name>Energizer</name>
		<name>Eveready</name>
		<name>Golla</name>
		<name>Hello_Kitty</name>
		<name>HTC</name>
		<name>Huawei</name>
		<name>iLuv</name>
		<name>ItSkins</name>
		<name>Kingston</name>
		<name>Kodiak</name>
		<name>LG</name>
		<name>LifeProof</name>
		<name>Motorola</name>
		<name>Musubo</name>
		<name>Nokia</name>
		<name>OtterBox</name>
		<name>PureGear</name>
		<name>RokForm</name>
		<name>Samsung</name>
		<name>SanDisk</name>
		<name>Seidio</name>
		<name>Skech</name>
		<name>Sony</name>
		<name>Speck</name>
		<name>Spigen</name>
		<name>Trident</name>
		<name>UAG</name>
		<name>White_Diamonds</name>
	</Brand>
</Data>